<header style="background-color: aqua">
  <div class="row">
    <div class="col">Angular77.com</div>
    <div class="col">
      <a routerLink="/Login" routerLinkActive="Active"> <h2>Login</h2> </a>
    </div>
    <div class="col">
      <a routerLink="/Register" routerLinkActive="Active"> <h2>Register</h2></a>
    </div>
    <div class="col">
      <a routerLink="/RegisterForm" routerLinkActive="Active">
        <h2>Register Form</h2></a
      >
    </div>
    <div class="col">
      <a routerLink="/LoginPage" routerLinkActive="Active">
        <h2>Login Page2</h2></a
      >
    </div>
    <div class="col">
      <a routerLink="/DashPage" routerLinkActive="Active">
        <h2>Dash Page</h2></a
      >
    </div>
  </div>
</header>

<h1 style="text-align: center">Hello Guys</h1>
<h1 style="text-align: center">A new Social Media Site Project</h1>

<router-outlet> </router-outlet>

<!-- <a routerLink="/Login" routerLinkActive="Active"> First Comp</a>
<a routerLink="/Register" routerLinkActive="Active"> Second Comp</a> -->
